https://www.datamanim.com/dataset/03_dataq/index_big_python.html

https://github.com/inrap8206/Bigdata_Analyst_Certificate_Korean

https://www.datamanim.com/dataset/99_pandas/pandasMain.html

https://blog.naver.com/susu2304/223678669568

https://www.youtube.com/watch?v=XTsTbqjJhjE

In [3]:
!pip install kagglehub

Collecting kagglehub
  Downloading kagglehub-0.3.12-py3-none-any.whl.metadata (38 kB)
Requirement already satisfied: packaging in c:\users\darke\.conda\envs\dev-ts\lib\site-packages (from kagglehub) (24.1)
Requirement already satisfied: pyyaml in c:\users\darke\.conda\envs\dev-ts\lib\site-packages (from kagglehub) (6.0.1)
Requirement already satisfied: requests in c:\users\darke\.conda\envs\dev-ts\lib\site-packages (from kagglehub) (2.32.3)
Requirement already satisfied: tqdm in c:\users\darke\.conda\envs\dev-ts\lib\site-packages (from kagglehub) (4.66.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\darke\.conda\envs\dev-ts\lib\site-packages (from requests->kagglehub) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\darke\.conda\envs\dev-ts\lib\site-packages (from requests->kagglehub) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\darke\.conda\envs\dev-ts\lib\site-packages (from requests->kagglehub) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\darke\.conda\envs\dev-ts\lib\site-packages (from requests->kagglehub) (2024.8.30)
Requirement already satisfied: colorama in c:\users\darke\.conda\envs\dev-ts\lib\site-packages (from tqdm->kagglehub) (0.4.6)
Downloading kagglehub-0.3.12-py3-none-any.whl (67 kB)
Installing collected packages: kagglehub
Successfully installed kagglehub-0.3.12

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
dir

In [6]:
import pandas as pd

In [13]:
import kagglehub

# Download latest version
## LOL 전적 데이터
# path = kagglehub.dataset_download("datasnaek/league-of-legends")
## 우울증 환자 데이터
path = kagglehub.dataset_download("anthonytherrien/depression-dataset")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/anthonytherrien/depression-dataset?dataset_version_number=1...

100%|██████████| 8.69M/8.69M [00:05<00:00, 1.57MB/s]

Extracting files...
Path to dataset files: C:\Users\darke\.cache\kagglehub\datasets\anthonytherrien\depression-dataset\versions\1

In [15]:
## LOL 전적 데이터
# df = pd.read_csv(path + '\games.csv', encoding='cp949')
## 우울증 환자 데이터
df = pd.read_csv(path + '\depression_data.csv', encoding='cp949')

<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
C:\Users\darke\AppData\Local\Temp\ipykernel_20292\1645919878.py:4: SyntaxWarning: invalid escape sequence '\d'
  df = pd.read_csv(path + '\depression_data.csv', encoding='cp949')

In [19]:
print(df.shape, df.columns)
df

(413768, 16) Index(['Name', 'Age', 'Marital Status', 'Education Level',
       'Number of Children', 'Smoking Status', 'Physical Activity Level',
       'Employment Status', 'Income', 'Alcohol Consumption', 'Dietary Habits',
       'Sleep Patterns', 'History of Mental Illness',
       'History of Substance Abuse', 'Family History of Depression',
       'Chronic Medical Conditions'],
      dtype='object')

,Name,Age,Marital Status,Education Level,Number of Children,Smoking Status,Physical Activity Level,Employment Status,Income,Alcohol Consumption,Dietary Habits,Sleep Patterns,History of Mental Illness,History of Substance Abuse,Family History of Depression,Chronic Medical Conditions
0,Christine Barker,31,Married,Bachelor's Degree,2,Non-smoker,Active,Unemployed,26265.67,Moderate,Moderate,Fair,Yes,No,Yes,Yes
1,Jacqueline Lewis,55,Married,High School,1,Non-smoker,Sedentary,Employed,42710.36,High,Unhealthy,Fair,Yes,No,No,Yes
2,Shannon Church,78,Widowed,Master's Degree,1,Non-smoker,Sedentary,Employed,125332.79,Low,Unhealthy,Good,No,No,Yes,No
3,Charles Jordan,58,Divorced,Master's Degree,3,Non-smoker,Moderate,Unemployed,9992.78,Moderate,Moderate,Poor,No,No,No,No
4,Michael Rich,18,Single,High School,0,Non-smoker,Sedentary,Unemployed,8595.08,Low,Moderate,Fair,Yes,No,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413763,Sean Miller,68,Married,Master's Degree,0,Former,Moderate,Employed,109233.43,Low,Healthy,Good,No,No,No,No
413764,Christina Brown,26,Single,Bachelor's Degree,0,Current,Active,Employed,96760.97,Low,Healthy,Poor,Yes,Yes,No,Yes
413765,Matthew Jenkins,57,Married,Bachelor's Degree,0,Non-smoker,Sedentary,Employed,77353.26,Moderate,Moderate,Fair,No,No,Yes,Yes
413766,Gary Faulkner,71,Married,Associate Degree,2,Non-smoker,Sedentary,Unemployed,24557.08,Moderate,Moderate,Poor,No,Yes,No,No
413767,Joseph Johnson,62,Widowed,Master's Degree,0,Former,Moderate,Employed,107125.74,Moderate,Healthy,Good,No,Yes,No,No

In [ ]:
## 평균
print(df[df["Education Level"]=="Master's Degree"]["Age"].mean())
## 중앙값
print(df[df["Education Level"]=="Master's Degree"]["Age"].median())
## 최빈값
print(df[df["Education Level"]=="Master's Degree"]["Age"].mode())

52.434266890792756
53.0